<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>application</display-name>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>ru.home.servlets.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>pdfServlet</servlet-name>
        <servlet-class>ru.home.servlets.PdfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pdfServlet</servlet-name>
        <url-pattern>/pdfServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>backServlet</servlet-name>
        <servlet-class>ru.home.servlets.BackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>backServlet</servlet-name>
        <url-pattern>/backServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>startServlet</servlet-name>
        <servlet-class>ru.home.servlets.StartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>startServlet</servlet-name>
        <url-pattern>/startServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registerCounterServlet</servlet-name>
        <servlet-class>ru.home.servlets.RegisterCounterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerCounterServlet</servlet-name>
        <url-pattern>/registerCounterServlet</url-pattern>
    </servlet-mapping>


</web-app>