@font-face {
    font-family: lettersoup;
    src: url(fonts/lettersoup.otf);
}
h1,h2,h3,p {
    font-family: lettersoup;
}

table {
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}
.body{
    position: relative;
    z-index: 1;
    top:60px;
}
.top {
    position: absolute;
    top:0px;
    right: 0px;
    left: 0px;
    height:56px;

    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
.topText {
    position: absolute;
    top:3px;
    left: 6px;
    font-family: Sreda;
}
.topText1{
    position: absolute;
    top:2px;
    left: 6px;
    font-family: Sreda;
}
.topText2{
    position: absolute;
    top:4px;
    left: 3px;
    font-family: Sreda;
}
.formRes {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 340px;
    margin: 0 auto 100px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formAdd {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 460px;
    margin: 0 auto 0px;
    padding: 1px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.middleText{
    position: relative;
    z-index: 1;
    text-align: center;
    color: #ff1313;
}
.formChar {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 700px;
    margin: 0 auto 100px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formReg {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 330px;
    margin: 0 auto 100px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.formPayments {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
th {
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}
.change input {
    position: absolute;
    top:13px;
    right: 106px;
    cursor: pointer;
}
.exit  {
    position: absolute;
    top:13px;
    right: 6px;
    cursor: pointer;
}
.add  {
    position: absolute;
    top:3px;
    right: 5px;
    cursor: pointer;
}
.textBox{
    width:168px;
    height: 30px;
}

input[type=button], input[type=submit], input[type=reset] {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}

.submit:hover{
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
    cursor: pointer;
}
.submit:active{
    background: linear-gradient(#f59500, #f5ae00) #f59500;
    cursor: pointer;
}

td:hover,td:active,td:focus{
    background: #f8e360;
}
h3{
    font-family: "Roboto", sans-serif;
    text-align: center;
}
th, td {
    width: 130px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

th:first-child, td:first-child {
    text-align: left;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
td {
    padding: 10px 20px;
    background: #F8E391;
}
body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
